# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: linters

on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '11 11 * * 1'
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  bashate:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Get pip cache dir
      id: pip-cache
      run: echo "::set-output name=dir::$(pip cache dir)"
    - name: pip cache
      uses: actions/cache@v2
      with:
        path: ${{ steps.pip-cache.outputs.dir }}
        key: ${{ runner.os }}-pip-${{ hashFiles('**/setup.py') }}
        restore-keys: ${{ runner.os }}-pip-
    - name: Install pip dependencies and bashate
      if: steps.pip-cache.outputs.cache-hit != 'true'
      run: python -m pip install --upgrade pip setuptools wheel && python -m pip install --upgrade bashate

    - name: Run with bashate
      run: find . -type f \( -name "termux-url-opener" -o -name "*.sh" \) -print0 | xargs -n 1 -0 bashate

  shellcheck:
    runs-on: ubuntu-latest
    steps:
    - name: Update apt package indexes
      run: apt update
    - name: Install shellcheck
      run: apt install -y shellcheck

    - name: Run with shellcheck
      run: find . -type f \( -name "termux-url-opener" -o -name "*.sh" \) -print0 | xargs -n 1 -0 shellcheck
